:root {
  --color-bg: #252525;
  --color-dark: #0e0e0e;
  --color-title: #6c63ff;
  --tw-gradient-stops: red, #1d29c9;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--color-dark);
  color: white;
}

.welcome-container {
  display: flex;
  margin: 6rem auto 0 auto;
  width: 80vw;
  flex-direction: column;
  gap: 2rem;
}
.welcome-container .titulo {
  font-size: 3.5rem;
  margin: 6rem auto;
  text-align: center;
  justify-content: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.intro {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 5rem 15rem;
  font-size: 2.3rem;
  line-height: 3rem;
}

/*Main*/
main {
  background: linear-gradient(
    90deg,
    rgba(19, 33, 215, 1) 0%,
    rgba(176, 2, 175, 1) 100%
  );
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  color: #ffffff;
}
/*Gneral cards*/
.main-container .card {
  background-color: var(--color-dark);
  border-radius: 1.5rem;
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  gap: 3rem;
}
.main-container .card h1 {
  font-size: 4.6rem;
  padding: 3rem;
  color: #6c63ff;
}
.main-container .card img {
  background-size: contain;
  justify-content: center;
  width: 25vw;
  margin-right: 5rem;
}

/*JavaScript*/
.main-container .title {
  display: flex;
  flex-wrap: wrap;
  column-gap: 3rem;
}
.main-container .title h1 {
  flex-basis: 30rem;
  flex-grow: 9;
}
.main-container .js-about {
  width: 100%;
  margin-bottom: 2rem;
}
.main-container .js-about h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.main-container .js-about p,li {
  font-size: 1.8rem;
}

/*CSS */
.main-container .css-intro {
  font-size: 1.7rem;
  align-self: center;
  flex-basis: 48vw;
  flex-grow: 9;
}
.main-container .css-about h2 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.main-container .css-intro p,li {
  font-size: 1.7rem;
}

/*HTML */
.main-container .html-intro {
  font-size: 1.7rem;
  align-self: center;
  flex-basis: 48vw;
  flex-grow: 9;
}

/*Footer*/
footer {
  padding: 5rem 8vw 2.5rem 7vw;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--color-dark);
}
footer ul,
ol {
  list-style: none;
}
footer .footer-container {
  display: grid;
  align-items: center;
  justify-content: center;
}
.footer-container ul {
  display: flex;
  justify-content: center;
}
.footer-container ul li {
  padding: 1rem 2rem 2rem 2rem;
}
.icons-footer {
  font-size: 3.6rem;
  color: #ffffff;
}
.footer-text {
  padding: 1.5rem;
  font-size: 2rem;
}
