:root {
  --color-dark: #0e0e0e;
  --color-title: #6c63ff;
  --color-light-blue: #1d7cc9;
  --color-red: rgb(255, 0, 106);
  --tw-gradient-stops: red, #1d29c9;
}
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--color-dark);
  color: white;
}
a {
  text-decoration: none;
}

.welcome-container {
  display: flex;
  margin: 6rem auto 0 auto;
  width: 80vw;
  flex-direction: column;
  gap: 2rem;
}
.welcome-container .titulo h1 {
  font-size: 7.5rem;
  margin: 5rem auto;
  text-align: center;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.intro {
  display: flex;
  margin: 5rem 3rem 12rem;
  font-size: 2.3rem;
  line-height: 3rem;
}

/*Main*/
main {
  background: linear-gradient(
    90deg,
    rgba(19, 33, 215, 1) 0%,
    rgba(176, 2, 175, 1) 100%
  );
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: 0 auto;
  color: #ffffff;
}
/*General cards*/
.main-container .card {
  background-color: var(--color-dark);
  border-radius: 1.5rem;
  width: 100%;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  margin: 4rem 0;
}
.main-container .card h1 {
  font-size: 4.6rem;
  padding: 1rem 0;
  color: var(--color-title);
}
.main-container .card p,
li {
  font-size: 1.9rem;
}
.main-container .card .about span {
  color: var(--color-light-blue);
}
.main-container .about h2,
h3 {
  font-size: 2.4rem;
  margin: 1rem 0 0.3rem;
  color: var(--color-title);
}
.main-container .about a {
  font-size: 2rem;
  margin: 1rem 1rem 1rem 0;
  color: var(--color-red);
}

/*Footer*/
footer {
  padding: 5rem 8vw 2.5rem 7vw;
  margin: 0 auto;
  justify-content: center;
  background-color: var(--color-dark);
}
footer ul,
ol {
  list-style: none;
}
footer .footer-container {
  display: grid;
  align-items: center;
  justify-content: center;
}
.footer-container ul {
  display: flex;
  justify-content: center;
}
.footer-container ul li {
  padding: 1rem 2rem 2rem 2rem;
}
.icons-footer {
  font-size: 3.6rem;
  color: #ffffff;
}
.footer-text {
  padding: 1.5rem;
  font-size: 2rem;
}
