html{
    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #0e0e0e;
    color: white;
}

.welcome-container{
    display: flex;
    margin: 10rem auto 0 auto;
    width: 80vw;
    flex-direction: column;
    gap: 1.5rem;
}
.welcome-container .titulo{
    font-size: 4.6rem;
    margin: 0 auto 4rem auto;
    text-align: center;
    justify-content: center;
}

.intro{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2.2rem;
    padding: 0 5rem;
    margin-bottom: 5rem;
}
.intro .intro-info{
    font-size: 2.5rem;
    line-height: 3.1rem;
    flex-basis: 50rem;
    flex-grow: 1;
}

.routes-container{
    background-color: #666666;
    color: #0e0e0e;
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
}
.route_one{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem 0 3rem 5.5rem;
    border-radius: 1.2rem;
    width: 80vw;
    margin: 5rem auto 0 auto;
    gap: 0.1rem;
}
.about-route_one{
    text-align: left;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    flex-grow: 9;
}
.about-route_one .titulo{
   font-size: 2rem;
   margin: 1.5rem 0;
}
.about-route_one .subtitulo{
    font-size: 4rem;
}
.about-route_one .parrafo{
    margin: 2rem 2rem 2rem 0;
    font-size: 1.8rem;
}
.imagen-route_one img{
    background-size: contain;
    width: 40vw;
    margin-right: 1rem;
}
/*Route two*/

.route_two{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem 0 3rem 5.5rem;
    border-radius: 1.2rem;
    width: 80vw;
    margin: 0 auto;
    gap: 0.1rem;
}
.about-route_two{
    text-align: left;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    flex-grow: 9;
}
.about-route_two .titulo{
   font-size: 2rem;
   margin: 1.5rem 0;
   letter-spacing: 0.1rem;
}
.about-route_two .subtitulo{
    font-size: 4rem;
}
.about-route_two .parrafo{
    margin: 2rem 2rem 2rem 0;
    font-size: 1.8rem;
}
.imagen-route_two img{
    background-size: contain;
    width: 40vw;
}

/*tercera ruta*/
.route_three{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem 0 3rem 5.5rem;
    border-radius: 1.2rem;
    width: 80vw;
    margin: 0 auto 8rem auto;
    gap: 0.1rem;
}
.about-route_three{
    text-align: left;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    flex-grow: 9;
}
.about-route_three .titulo{
   font-size: 2rem;
   margin: 2rem 0;
}
.about-route_three .subtitulo{
    font-size: 4rem;
}
.about-route_three .parrafo{
    margin: 2rem 2rem 2rem 0;
    font-size: 1.8rem;
}
.imagen-route_three img{
    background-size: contain;
    width: 40vw;
    margin-right: 1rem;
}

/*Footer*/
footer{
  padding: 5rem 8vw 2.5rem 7vw;
  margin: 0 auto;
  justify-content: center;
}
footer ul,ol{
  list-style: none;
}
footer .footer-container{
  display: grid;
  align-items: center;
  justify-content: center;
}
.footer-container ul{
  display: flex;
  justify-content: center;
}
.footer-container ul li{
  padding: 1rem 2rem 2rem 2rem;
}
.icons-footer{
  font-size: 3.6rem;
  color: #ffffff;
}
.footer-text{
  padding: 1.5rem;
  font-size: 2rem;
}