:root{
  --color-bg: #252525;
}

html{
  font-size: 62.5%;
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  background: linear-gradient(90deg, rgba(19,33,215,1) 0%, rgba(176,2,175,1) 100%);
}
.main-container{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 80vw;
  margin: 0 auto;
  color: #ffffff;
}
/*Gneral cards*/
.main-container .card{
  background-color: var(--color-bg);
  border-radius: 1.5rem;
  width: 100%;
  padding: 0.5rem 3rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 3rem;
}
.main-container .card-content{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-height: 40%;
}

/*JavaScript*/
.main-container .js-intro h1{
  font-size: 4rem;
  margin: 1rem 0;
  color: #6c63ff;
}
.main-container .js-intro{
  font-size: 1.7rem;
  align-self: center;
  flex-basis: 48vw;
  flex-grow: 9;
}
.main-container .js-image img{
  background-size: contain;
  justify-content: center;
  width: 25vw;
}
.main-container .js-about{
  width: 100%;
  margin-bottom: 2rem;
}
.main-container .js-about h2{
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.main-container .js-about p,li{
  font-size: 1.7rem;
}

/*CSS */
.main-container .css-intro h1{
  font-size: 4rem;
  margin: 1rem 0;
  color: #6c63ff;
}
.main-container .css-intro{
  font-size: 1.7rem;
  align-self: center;
  flex-basis: 48vw;
  flex-grow: 9;
}
.main-container .css-intro img{
  background-size: contain;
  justify-content: center;
  width: 25vw;
}
.main-container .css-about h2{
  font-size: 2.2rem;
  margin-bottom: 1rem;
}
.main-container .css-intro p,li{
  font-size: 1.7rem;
}

/*HTML */
.main-container .html-intro h1{
  font-size: 4rem;
  margin: 1rem 0;
  color: #6c63ff;
}
.main-container .html-intro{
  font-size: 1.7rem;
  align-self: center;
  flex-basis: 48vw;
  flex-grow: 9;
}
.main-container .html-intro img{
  background-size: contain;
  justify-content: center;
  width: 25vw;
}

/*Footer*/
footer{
  padding: 5rem 8vw 2.5rem 7vw;
  margin: 0 auto;
  justify-content: center;
  background-color: black;
  color: #ffffff;
}
footer ul,ol{
  list-style: none;
}
footer .footer-container{
  display: grid;
  align-items: center;
  justify-content: center;
}
.footer-container ul{
  display: flex;
  justify-content: center;
}
.footer-container ul li{
  padding: 1rem 2rem 2rem 2rem;
}
.icons-footer{
  font-size: 3.6rem;
  color: #ffffff;
}
.footer-text{
  padding: 1.5rem;
  font-size: 2rem;
}